<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>Knockoff</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="/static/lib/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="/static/css/main.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <ul id="test"></ul>
        <script src="/static/lib/jquery.js"></script>
        <script src="/static/lib/underscore.js"></script>
        <script src="/static/lib/backbone.js"></script>
        <script src="/static/js/knockoff.js"></script>
        <script src="/static/js/main.js"></script>
    </body>
</html>