.ko-listview ul {
	list-style: none;
	margin-left: 0;
}

.ko-listview li {
	border: 1px solid #ececec;
	padding: 15px;
}

.ko-listview li.collapsed {
	background: #fafafa;
}

.ko-listview li.collapsed .ko-msg-body {
	display: none;
}